<html>
     <link rel="stylesheet" href="/static/style.css">
    <head>
        <title>cookie clicker</title>
    </head>

    <body>
        <header>click the cookie to earn!</header>
        
        <main>
            <section>
                <h2 id="cookies">Cookies:</h2>
                <h2 id="clickers">Clickers:</h2>
                <h2 id="grandmas">Grandmas:</h2>
                
        </section>

        <section id="cookie-area">
                <button id="cookie">🍪</button>
        </section>

        <section id="shop">
            <h2>Shop</h2>

            <div class="upgrades">
                <h3>clicker</h3>
                <p>+1 cookie per click</p>
                <p>Cost: 10 Cookies</p>
                <button id="buy-cursor">Buy</button>
            </div>

            <div class="upgrade">
                <h3>Grandma</h3>
                <p>+1 Cookie Every Second</p>
                <p>Cost: 50 Cookies</p>
                <button id="buy-grandma">Buy</button>
            </div>
            <button id="buy-baker">Buy Baker (100 Cookies)</button>

<p id="bakers">Bakers: 0</p>
             

        </section>
            
        
        

    </main>

    
    <script src="/static/click.js"></script>
</body>

</html>

            